<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Connexion</h1>
<FORM ACTION="user/login"
      METHOD=POST>
    Email <INPUT NAME="email"> <P>
    Mot de passe <INPUT NAME="password"> <P>
    <INPUT TYPE=SUBMIT VALUE="Envoi">
</FORM>
<br>
<h1>Création de compte</h1>
<FORM ACTION="user/creation"
      METHOD=POST>
    Nom <INPUT NAME="nom"> <P>
    Prénom <INPUT NAME="prenom"> <P>
    Email <INPUT NAME="email"> <P>
    Mot de passe <INPUT NAME="password"> <P>
    <INPUT TYPE=SUBMIT VALUE="Envoi">
</FORM>
</body>
</html>