<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des commandes</title>
</head>
<body>
<h1>Gestion des commandes</h1>

<h2>Ajouter une commande</h2>
<form action="/store/user" method="post">
    Nom de la commande : <input type="text" name="commandName" required>
    <input type="submit" value="Ajouter">
</form>

<h2>Mes commandes</h2>
<table>
    <thead>
    <tr>
        <th>ID_Commande</th>
        <th>Nom_Commande</th>
        <th>Date_Commande</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(commands)}">
        <td colspan="3">Aucune commande enregistrée.</td>
    </tr>
    <tr th:each="command : ${commands}">
        <td th:text="${command.id}"></td>
        <td th:text="${command.nom}"></td>
        <td th:text="${command.date}"></td>
    </tr>
    </tbody>
</table>



<form action="/user/logout" method="post">
    <button type="submit">Déconnexion</button>
</form>
</body>
</html>
